{%- assign title = include.title -%}
<header class="header">
  <h1>
    <a href="{{ '/' | absolute_url }}" aria-label="Felipe Joglar">
      <picture>
        <source srcset="/assets/images/logo-white.svg" media="(prefers-color-scheme: dark)">
        <img src="/assets/images/logo-black.svg" alt="Felipe Joglar">
      </picture>
    </a>
  </h1>
  <dl>
    <dt>
      <a href="{{ '/' | absolute_url }}" aria-label="Blog">Blog</a>
    </dt>
    {%- if title -%}
    <dd>{{ title | truncate: 55 }}</dd>
    {%- endif -%}
  </dl>
</header>