<header class="header">
  <nav>
    <div>
      <a class="logo" href="{{ '/' | absolute_url }}" aria-label="Felipe Joglar">Felipe Joglar</a>
      {% if include.title %}
        <span class="slash">/ </span><span class="breadcumb">{{ include.title | truncate: 50 | markdownify}}</span>
      {% endif %}
    </div>
    <ul>
      {% for item in site.data.nav %}
        {% assign item_collection = item.collection | default: false %}
        <li{% if item.url == page.url or item_collection == page.collection %} class="selected"{% endif %}><a href="{{ item.url | absolute_url}}"{% if item.external %} target="_blank" rel="noopener"{% endif %} aria-label="{{ item.title | smartify }}">{{ item.title | smartify }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</header>
