{%- assign posts = include.posts -%}
<div class="posts__container">
  {%- for post in posts -%}
  <div class="posts__post">
    <time datetime="{{ post.date}}">
      <a href="{{ post.url }}" aria-label="{{ post.title }}">{{ post.date | date: "%B %-d, %Y" }}</a>
    </time>
    <h3><a href="{{ post.url }}" aria-label="{{ post.title }}">{{ post.title }}</a></h3>
    {{ post.description }}
    {%- assign author = site.authors | find_exp: "author", "author.identifier == post.author" -%}
    {%- if author -%}
    <div>
      <a href="{{ author.url }}" aria-label="{{ author.title }}">
        <picture>
          <source srcset="/assets/images/authors/{{ author.identifier }}.webp" type="image/webp">
          <img src="/assets/images/authors/{{ author.identifier }}.png" alt="{{ author.title }}">
        </picture>
        <dl>
          <dt>{{ author.title }}</dt>
          <dd>{{ author.position }}</dd>
        </dl>
      </a>
    </div>
    {%- endif -%}
  </div>
  {%- endfor -%}
</div>