.footer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
  margin-top: 2em;
  font-size: var(--font-size-x-small);
  letter-spacing: -0.01em;
}
