.header {
  background: linear-gradient(180deg, rgba(var(--rgb-background), 1) 0, rgba(var(--rgb-background), 0) 100%);
  color: var(--color-foreground);
  display: flex;
  justify-content: flex-end;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 104
}

.header h1 {
  order: 2;
  pointer-events: auto;
}

.header h1 a {
  display: block;
  height: var(--line-height);
  margin-right: var(--spacing);
  margin-top: var(--spacing);
}

.header h1 a img {
  height: 100%;
  max-height: 100%;
  width: auto;
}

.header dl {
  align-items: center;
  display: flex;
  flex: 1;
  line-height: var(--line-height);
  order: 1;
  padding-left: var(--spacing);
  padding-top: var(--spacing);
  pointer-events: auto
}

.header dl dt,
.header dl dd {
  font-size: var(--font-size-small);
  font-weight: 700;
  letter-spacing: normal
}

.header dl dt a,
.header dl dd a {
  color: var(--color-foreground);
  text-decoration: none
}

.header dl dt a {
  align-items: center;
  display: flex;
  gap: .5em
}

.header dl dt a svg {
  height: 1.2em;
  width: 1.2em
}

.header dl dt a svg path {
  fill: var(--color-foreground)
}

.header dl dd {
  display: none
}

.header dl dd:before {
  color: var(--color-background-dimmed);
  content: "/";
  display: inline-flex;
  font-weight: 500;
  padding-left: .6em;
  padding-right: .6em
}

.header ul {
  align-items: center;
  flex: 1;
  line-height: var(--line-height);
  order: 1;
  padding-left: var(--spacing);
  padding-top: var(--spacing);
  pointer-events: auto;
}

.header ul li {
  font-size: var(--font-size-small);
  font-weight: 700;
  letter-spacing: normal;
}

.header ul li a {
  color: var(--color-foreground);
  text-decoration: none;
  transition: color var(--transition);
}

.header ul li:not(:last-child) {
  padding-right: 1em;
}

@media(min-width: 48em)and (hover: hover)and (pointer: fine) {
  .header dl dd {
    display: flex
  }

  .header ul {
    display: flex;
  }

  .header ul li a:hover,
  .header ul li a:focus {
    color: var(--color-background-dimmed);
  }

  .header ul li.selected a:hover,
  .header ul li.selected a:focus {
    color: var(--color-foreground);
  }
}
