.page {
  display: flex;
  flex-direction: column;
  margin: 7.4em var(--spacing) 0 var(--spacing);
  position: relative
}

.page:after {
  background: linear-gradient(180deg, rgba(var(--rgb-background), 1) 0, rgba(var(--rgb-background), 0) 90%);
  content: "";
  height: 7.4em;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 101
}

.page__headline,
.page__body {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  width: min(100%, 28em);
  position: relative
}

.page__headline {
  color: var(--color-foreground);
  gap: .6em
}

.page__headline h1 {
  display: flex;
  color: var(--color-foreground);
  font-size: var(--font-size-xxx-large);
  font-weight: 700;
  line-height: 1.2
}

.page__headline h1 span {
  color: var(--color-background-dimmed);
  font-weight: 300;
  margin-left: .3em;
  margin-right: .3em
}

.page__headline h1 a {
  letter-spacing: inherit;
  text-decoration: none
}

.page__headline h1 br {
  display: none
}

.page__headline p br {
  display: none
}

.page__headline--post {
  gap: 0
}

.page__headline--post time {
  color: var(--color-background-dimmed);
  display: flex;
  font-size: var(--font-size-x-small);
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1em;
  margin-bottom: 0.5em;
  margin-top: -2.5em
}

.page__headline--post time span {
  display: inline-flex
}

.page__headline--post time span a {
  color: inherit;
  font-weight: inherit;
  text-decoration: none
}

.page__headline--post time span:before {
  color: rgba(var(--rgb-background-dimmed), 0.6);
  content: "/";
  display: inline-flex;
  font-weight: 500;
  padding-left: .6em;
  padding-right: .6em
}

.page__headline--post p {
  margin-bottom: .8em;
  margin-top: .6em
}

.page__headline--author {
  gap: 0
}

.page__headline--author h2 {
  color: var(--color-background-dimmed);
  font-size: var(--font-size-x-large);
  font-weight: 500;
  line-height: 1.2
}

.page__headline--author p {
  margin-top: .6em
}

.page__headline--author ul {
  font-size: var(--font-size-x-small);
  letter-spacing: normal;
  margin-top: .6em
}

.page__headline--author ul li {
  display: flex
}

.page__headline--author ul li a {
  align-items: center;
  display: inline-flex;
  gap: .5em
}

.page__headline--author ul li a svg {
  height: 1em;
  width: 1em
}

.page__headline--author ul li a svg path {
  fill: var(--color-foreground)
}

.page__headline--author ul li+li {
  margin-top: .3em
}

.page__author {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-x-small);
  letter-spacing: normal
}

.page__author a {
  align-items: center;
  display: flex;
  gap: .8em;
  text-decoration: none
}

.page__author a img {
  border-radius: 100%;
  overflow: hidden;
  width: 3.2em
}

.page__author a dl {
  display: flex;
  flex-direction: column;
  gap: .4em;
  line-height: 1
}

.page__author a dl dt {
  color: var(--color-foreground);
}

.page__author a dl dd {
  color: var(--color-background-dimmed);
}

.page__content {
  font-size: var(--font-size-small);
  letter-spacing: normal;
  margin-bottom: 3.7em;
  margin-top: 3.7em
}

.page__back {
  --flow-space: calc(var(--line-height) * 2);
  align-self: flex-start;
  align-items: center;
  font-size: var(--font-size-small);
}

@media(min-width: 64em) and (hover: hover) and (pointer: fine) {
  .page {
    margin-top: max(22.2vh, 5.4em)
  }

  .page:after {
    height: max(22.2vh, 5.4em)
  }

  .page__headline,
  .page__body {
    width: min(100%, 24em)
  }

  .page__headline h1 a:hover,
  .page__headline h1 a:focus {
    text-decoration: underline
  }

  .page__headline h1 br {
    display: inline
  }

  .page__headline p br {
    display: inline
  }
}