{%- assign posts = site.posts | sort: 'order' -%}
{%- for doc in posts -%}
  {%- if doc.id == page.id -%}
    {%- unless forloop.last -%}
      {%- assign posts_index_next = forloop.index -%}
    {%- endunless -%}

    {%- unless forloop.first -%}
      {%- assign posts_index_prev = forloop.index | minus: 2 -%}
    {%- endunless -%}
  {%- endif -%}
{%- endfor -%}

{%- if posts_index_prev or posts_index_next -%}
  <nav class="post__navigation">
  {%- if posts_index_prev -%}
    {%- assign posts_prev = posts[posts_index_prev] -%}
    {%- assign posts_prev_title = posts_prev.title | smartify -%}
    <a class="post__back button button--dim" href="{{ posts_prev.url | absolute_url }}" aria-label="{{ posts_prev_title }}">
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m313-440 196 196q12 12 11.5 28T508-188q-12 11-28 11.5T452-188L188-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l264-264q11-11 27.5-11t28.5 11q12 12 12 28.5T508-715L313-520h447q17 0 28.5 11.5T800-480q0 17-11.5 28.5T760-440H313Z"/></svg>
      Previous
    </a>
  {%- endif -%}

  {%- if posts_index_next -%}
    {%- assign posts_next = posts[posts_index_next] -%}
    {%- assign posts_next_title = posts_next.title | smartify -%}
    <a class="post__next button button--dim" href="{{ posts_next.url | absolute_url }}" aria-label="{{ posts_next_title }}">
      Next
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M647-440H200q-17 0-28.5-11.5T160-480q0-17 11.5-28.5T200-520h447L451-716q-12-12-11.5-28t12.5-28q12-11 28-11.5t28 11.5l264 264q6 6 8.5 13t2.5 15q0 8-2.5 15t-8.5 13L508-188q-11 11-27.5 11T452-188q-12-12-12-28.5t12-28.5l195-195Z"/></svg>
    </a>
  {%- endif -%}
  </nav>
{%- endif -%}