<!doctype html>
<html lang="en">
  {%- include head.html title = page.title-%}
  <body>
    {%- include post/header.html title = page.title -%}
    <main>
      <section class="page">
        <div class="page__headline page__headline--author">
          <h1>{{ page.title }}</h1>
          <h2>{{ page.role }}</h2>
          {{ content }}
        </div>
        <div class="page__body">
          {%- assign posts = site.posts | where: "author", page.tag -%}
          {%- include posts.html posts = posts -%}
        </div>
      </section>
    </main>
    {%- include footer.html -%}
  </body>
</html>
