<!doctype html>
<html lang="en">
  {%- include head.html -%}
  <body>
    {%- include header.html title=page.title -%}
    <main>
      <section class="page">
        <div class="page__headline page__headline--post">
          <time datetime="{{ page.date }}">
            {{ page.date | date: "%B %-d, %Y" }}
            {%- assign series = site.series | find_exp: "item", "item.id contains page.series" -%}
            {%- if series -%}
            <span>
              <a href="{{ series.url }}">{{ series.name }}</a>
            </span>
            {%- endif -%}
          </time>
          <h1>{{ page.title | markdownify }}</h1>
          {{ page.description | markdownify }}

          {%- include post/author.html -%}
        </div>

        <div class="page__body">
          <div class="post">
            <div class="post__content content">
              {%- if page.image -%}
              <div class="media media--image">
                <div class="media__element">
                  <figure>
                    <picture>
                      <source srcset="{{ page.image.url }}.webp" type="image/webp">
                      <img src="{{ page.image.url }}" alt="{{ page.title }} cover">
                    </picture>
                    <figcaption class="media__caption">{{ page.image.caption }}</figcaption>
                  </figure>
                </div>
              </div>
              {%- endif -%}

              {{ content }}
            </div>
            {%- include post/navigation.html -%}
          </div>
        </div>
      </section>
    </main>
    {%- include footer.html -%}
  </body>
</html>
