.button {
  align-self: flex-start;
  background: var(--color-foreground);
  border-radius: 1.3em;
  color: var(--color-background);
  cursor: pointer;
  display: inline-flex;
  font-size: var(--font-size-x-small);
  font-weight: 500;
  gap: .4em;
  letter-spacing: normal;
  padding: .6em 1.1em .55em 1.1em;
  text-decoration: none;
  white-space: nowrap
}

.button span {
  color: var(--color-background-dimmed);
  display: inline-flex
}

.button svg path {
  fill: var(--color-background-dimmed)
}

.button--dim {
  background: rgba(var(--rgb-foreground-subtle), 0.2);
  color: var(--color-foreground);

  @media (prefers-color-scheme: dark) {
    background: var(--color-background-subtle);
  }
}

.button--inverted {
  background: var(--color-background);
  color: var(--color-foreground)
}