.highlight {
  color: var(--color-white)
}

.highlight .hll {
  background-color: rgba(135, 206, 235, .15)
}

.highlight .err {
  color: #ce342c
}

.highlight .c {
  color: #818181;
  font-style: italic
}

.highlight .k {
  color: #ff4287;
  font-weight: 700
}

.highlight .o {
  font-weight: 700
}

.highlight .p {
  color: skyblue
}

.highlight .cm {
  color: #818181;
  font-style: italic
}

.highlight .cp {
  color: #d1c2f4;
  font-weight: 700
}

.highlight .c1 {
  color: #818181;
  font-style: italic
}

.highlight .cs {
  color: #818181;
  font-weight: 700;
  font-style: italic
}

.highlight .gd {
  color: #ce342c
}

.highlight .ge {
  color: #c000c0;
  font-style: italic
}

.highlight .gr {
  color: silver;
  font-weight: 700
}

.highlight .gi {
  color: #27b42c
}

.highlight .go {
  color: #add8e6;
  font-weight: 700
}

.highlight .gs {
  font-weight: 700
}

.highlight .gt {
  color: silver;
  font-weight: 700
}

.highlight .kc {
  color: #ff4287;
  font-weight: 700
}

.highlight .kd {
  color: #ff4287;
  font-weight: 700
}

.highlight .kn {
  color: #ff4287
}

.highlight .kp {
  color: #ff4287;
  font-weight: 700
}

.highlight .kr {
  color: skyblue;
  font-weight: 700
}

.highlight .kt {
  color: #bdb76b;
  font-weight: 700
}

.highlight .s {
  color: #ffe580
}

.highlight .na {
  color: #b6e382
}

.highlight .nc {
  color: #b6e382;
  font-weight: 700
}

.highlight .no {
  color: skyblue
}

.highlight .ni {
  color: #ffdead
}

.highlight .ne {
  font-weight: 700
}

.highlight .nf {
  color: #b899ff;
  font-weight: 700
}

.highlight .nt {
  color: skyblue
}

.highlight .nv {
  color: #bdb76b
}

.highlight .ow {
  font-weight: 700
}

.highlight .s2 {
  color: #ffe580
}

.highlight .s1 {
  color: #ffe580
}

.highlight .ss {
  color: #a47bea
}

.highlight .vc {
  color: #98fb98
}

.highlight .vg {
  color: #98fb98
}