:root {
  --rgb-black: 0, 0, 0;
  --rgb-white: 255, 255, 255;
  --rgb-grey: 105, 111, 117;
  --rgb-grey-dark: 15, 21, 27;
  --rgb-grey-light: 210, 216, 222;
  --rgb-mint: 62, 180, 137;
  --rgb-blue: 61, 143, 179;

  --color-background: rgb(var(--rgb-background));
  --color-background-dimmed: rgb(var(--rgb-background-dimmed));
  --color-background-subtle: rgb(var(--rgb-background-subtle));
  --color-foreground: rgb(var(--rgb-foreground));
  --color-foreground-subtle: rgb(var(--rgb-foreground-subtle));
  --color-primary: rgb(var(--rgb-primary));

  --font-family: 'Colfax', Sans-Serif;
  --font-family-mono: ui-monospace, 'SFMono-Regular', SF Mono, Menlo, Consolas, Monospace;
  --font-size: calc(1em + 1vw);
  --font-size-x-small: 60%;
  --font-size-small: 80%;
  --font-size-large: 105%;
  --font-size-x-large: 110%;
  --font-size-xx-large: 115%;
  --font-size-xxx-large: 125%;
  --font-size-xxxx-large: 140%;

  --line-height: calc(1.3em + 1vw);

  --spacing: 0.75em;

  --transition: 0.2s cubic-bezier(0.37, 1, 0.74, 1);

  @media(min-width: 64em) and (hover: hover) and (pointer: fine) {
    --font-size: calc(1.25em + 1vw);
    --font-size-x-small: 50%;
    --font-size-small: 65%;
    --font-size-large: 110%;
    --font-size-x-large: 120%;
    --font-size-xx-large: 130%;
    --font-size-xxx-large: 150%;
    --font-size-xxxx-large: 180%;

    --line-height: 1.3em;
  }

  @media (prefers-color-scheme: light) {
    --rgb-background: var(--rgb-white);
    --rgb-background-subtle: var(--rgb-grey);
    --rgb-background-dimmed: var(--rgb-grey);
    --rgb-foreground: var(--rgb-black);
    --rgb-foreground-subtle: var(--rgb-grey-light);
    --rgb-primary: var(--rgb-blue);
  }

  @media (prefers-color-scheme: dark) {
    --rgb-background: var(--rgb-black);
    --rgb-background-subtle: var(--rgb-grey-dark);
    --rgb-background-dimmed: var(--rgb-grey);
    --rgb-foreground: var(--rgb-white);
    --rgb-foreground-subtle: var(--rgb-grey-light);
    --rgb-primary: var(--rgb-mint);
  }
}